

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  margin-right:50;
}
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  .row::after {
  content: "";
  clear: both;
  display: table;
  }
  .quiz{
  background-size: 200px 0px;
  height: 850px;
  width: 100%;
  background-color: white;
  padding: 40px 50px;
  }
  .kat{
    margin:50px;
  }
.itinerary{
  float:center;
  width:110%;
}
.kewl{
  margin-top: -30px;
  margin-right: 125px;
  color: #275669;
}

  .box{
      background-color: #b5c9c2;
    padding: 5px 5px;
    color: white;
    width: 100%;
    height: 200%;
    float:center;
  }

x
  .size{
    font-size: 15px
  }
.myCarousel{
  padding: 100px 0px;
}

  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 5px;
  }


.accept{
  width:10%;
  float:right;
  padding:20px;
  margin-bottom:20px;
  margin-top:5px;
  margin-right:130px;
}

  h5{
    font-size: 23px;
    line-height: 1.375em;
    color: #275669;
    font-weight: 600;
    float:left;
    width:100%;
    margin-top:-20px;
  }
.format{
  margin-top:30px;
}
.format2{
  font-size: 23px;
  line-height: 1.375em;
  color: #275669;
  font-weight: 600;
  float:left;
  width:100%;
  margin-top:10px;
}

.print{
  font-family: Montserrat, sans-serif;
}
  hr{
  display: block;
  margin:0.1;}
  h6{
    font-size: 18px;
    line-height: 1.375em;
    color: #8d8f8e;
    font-weight: 600;
    margin-bottom: 5px;
  }
  h7{
    float:left;
    color: white;
    margin:5px;
    font-size: 21px;
  }

  .centered{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .jumbotron {
    background-image: url("beach.jpg");
    color: #fff;
    background-repeat: no-repeat;
    background-size: 1600px 900px;
    padding: 355px 25px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 50px 50px;
  }
  .container-fluid2{
    padding-bottom:600px;
    padding-left:50px;
    padding-right:50px;
    padding-top:100px;
  }
  .services{
    padding:0px 0px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #86baab;
    font-size: 50px;
  }
  .logo {
    color: #86baab;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 0px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #86baab;
  }
  .carousel-indicators li {
    border-color: #86baab;
  }
  .carousel-indicators li.active {
    background-color: #86baab;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .row{
  background-color: #dedede;
  border: 5px solid #f6f6f6;
  padding: 10px;
  text-align: left;
  margin:0px;
}
.refresh{
    margin-left: 1280px;
}
  .panel {
    border: 1px solid #86baab;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #86baab;
    background-color: #fff !important;
    color: #f4511e;
  }
  .startbutton{
    width: 10%;
  }
  .done{
    width: 5%;
    position: absolute;
    left: 1250px;
    margin-top: -100px;
}

.printsave{
  width: 3%;
  margin-top: 20px;
  margin-left: 1205px;
}
.demo6{
  display: inline-block;
}

.demo{
  display: inline-block;
}

.restaurant1
{
  display: inline-block;
}
.date{
  font-size: 12px;
}
.start{
  margin-bottom: 10px;
}


  .panel-heading {
    color: #fff !important;
    background-color: #86baab !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #86baab;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #0b282e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #86baab !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #86baab;
  }
  .slideanim {visibility:hidden;}
  .slie {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  @media print {
  .noprint {display:none;}
  }
  .demo25{
    text-align:left;
  }
  .demo26{
    float:left;
  }
  li,ul{
    float:left;
  }
  }
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
h8{
  font-size: 20;
  color: #275669;
  font-weight: 600;
}
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
